@import '@/fonts.css';
@import '@/themes.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --header: 4.5rem;
    --player: 5.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html,
  body,
  #root {
    @apply h-full overflow-hidden;
  }

  .electron-drag {
    -webkit-app-region: drag;
  }

  .electron-no-drag {
    -webkit-app-region: no-drag;
  }

  button.electron-drag {
    -webkit-app-region: no-drag;
  }

  .top-header {
    top: var(--header);
  }

  .pt-header {
    padding-top: var(--header);
  }

  .pb-player {
    padding-bottom: var(--player);
  }

  .h-header {
    height: var(--header);
  }

  .h-player {
    height: var(--player);
  }

  .inset-b-player {
    bottom: var(--player);
  }

  .h-content {
    height: calc(100vh - var(--header) - var(--player));
  }

  .bottom-player {
    bottom: var(--player);
  }

  .grid-cols-header {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .grid-cols-player {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .pointer-fine {
    @media (pointer: fine) {
      @apply contents;
    }
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    width: 0;
  }

  .grid-fill-cards {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }

  .grid-fill-cards-lg {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  }

  .grid-fill-cards-xl {
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  }

  input[type='range']::-webkit-slider-thumb {
    @apply appearance-none bg-primary rounded-full cursor-pointer;
    height: 1rem;
    width: 1rem;
  }

  input[type='range']::-moz-range-thumb {
    @apply appearance-none bg-primary rounded-full cursor-pointer border-none;
    height: 1rem;
    width: 1rem;
  }

  .subpixel-antialiased {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }
}
